* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1: #012638;
    --cor2: #26566A; 
    --cor3: #4F8A90;
    --cor4: #C0D4C9;
}

body {
    background-image: linear-gradient(90deg, #4F8A90, #C0D4C9, #4F8A90);
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
}

header {
    background-color: var(--cor1);
    color: var(--cor4);
    text-align: center;
    padding: 50px;
}

#container {
    background-color: var(--cor1);
    margin: 100px auto;
    padding: 30px;
    max-width: 400px;
    height: 200px;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botoes {
    background-color: var(--cor3);
    width: 100px;
    height: 80px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 2.5em;
    color: var(--cor4);
}

.botoes:hover {
    cursor: pointer;
}

#container #resultado {
    min-width: 50px;
    max-width: 100px;
    color: var(--cor4);
    text-align: center;
    font-size: 2em;
}

footer {
    margin-top: auto;
}

footer p, a {
    background-color: var(--cor1);
    color: var(--cor4);
    padding: 5px;
    text-align: center;
    
}
